[defaults]
inventory = inventory.ini
remote_user = ubuntu
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
stdout_callback = default

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
